.Footer {
  border-top: 1px solid #bbb;
  padding: 2em;
}

.HNG {
  color: #667085;
  font-size: 18px;
  line-height: 20px;
}

@media screen and (min-width: 768px) {
  .Footer {
    display: flex;
    justify-content: space-around;
  }
}
