.Profile {
  display: flex;
  flex-direction: column;
  gap: 12px;
  justify-content: center;
  align-items: center;
  padding: 2em;
  font-family: 'Open Sans', sans-serif;
}

.Img {
  width: 100px;
  border-radius: 50%;
}

.TwitterLink {
  text-decoration: none;
  font-size: 1.8em;
  color: #101828;
  font-weight: 700;
  letter-spacing: 1px;
  line-height: 28px;
  text-align: center;
}

.SlackLink {
  visibility: hidden;
}
