* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

.Main {
  width: 100%;
}

.ContactSection {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 3em 2em;
}

.ContactSection div {
  display: grid;
  gap: 1em;
  padding: 0 1em 2em;
}

.ContactSection div h1 {
  font-weight: 600;
  font-size: 3.46154em;
  line-height: 44px;
  color: #101828;
}

.ContactSection div p {
  font-weight: 400;
  font-size: 2em;
  line-height: 28px;
  color: #475467;
}

.ContactSection form {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.ContactSection form label {
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  color: #344054;
}

.ContactSection form input {
  width: 100%;
  padding: 10px 14px;
  margin-top: 4px;
  font-size: 1.14286em;
  line-height: 24px;
  color: #667085;
  border-radius: 8px;
  border: 1px solid #d0d5dd;
  box-shadow: 0 1px 2px rgba(16, 24, 40, 0.05);
}

.ContactSection form textarea {
  width: 100%;
  padding: 12px 14px;
  margin-top: 4px;
  font-size: 1.14286em;
  line-height: 24px;
  color: #667085;
  border-radius: 8px;
  border: 1px solid #d0d5dd;
  box-shadow: 0 1px 2px rgba(16, 24, 40, 0.05);
}

.ContactSection form input[type="checkbox"] {
  width: 20px;
  height: 20px;
  border: 1px solid #d0d5dd;
  border-radius: 6px;
  margin-right: 1rem;
}

.ContactSection form .label {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #475467;
}

.ContactSection form input[type="button"] {
  background-color: #1570ef;
  border: 1px solid #1570ef;
  padding: 12px 20px;
  box-shadow: 0 1px 2px rgba(16, 24, 40, 0.05);
  border-radius: 8px;
  color: #fff;
  font-size: 16px;
  line-height: 24px;
}

@media screen and (min-width: 768px) {
  .Main {
    display: flex;
  }

  .ContactSection {
    width: 50%;
    margin: auto;
  }

  .ContactSection form .Flex {
    display: flex;
    gap: 2em;
    width: 100%;
  }
}
